<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= title %>
	</title>

		<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>

	<%- include('partials/navigation.ejs') %>

		<main class="flex items-center justify-center min-h-screen pt-2 text-center">
			<section>
				<h1 class="text-5xl font-bold">ABOUT</h1>
				<p class="mt-4 text-lg max-w-2xl mx-auto">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas officia, earum voluptate excepturi rem iusto quam distinctio officiis veniam! Ullam, veniam doloribus consequuntur blanditiis odit corrupti molestiae eaque voluptatibus quidem sed beatae deleniti incidunt sapiente. Repellat eveniet excepturi maxime ipsam earum ullam praesentium aliquam? Ullam provident, vitae, nemo officiis voluptas a id, excepturi fuga nisi totam voluptatum harum? Tempore, laudantium itaque natus repudiandae sed aliquam accusantium iste eius blanditiis aspernatur, fuga porro sequi. Harum, quisquam cumque, nisi recusandae exercitationem quod consequuntur dolorem expedita corrupti unde veritatis quas sunt saepe hic excepturi est explicabo facilis. Assumenda numquam ex exercitationem? Libero, id.
				</p>
			</section>
		</main>

</body>

</html>