<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= title %>
	</title>
</head>

<body>

	<h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro fugit nulla nihil voluptatum quasi obcaecati dolore
		esse nam, explicabo earum similique harum minus maxime minima dolorum animi praesentium quas totam perspiciatis
		mollitia. Eligendi autem doloremque praesentium, aliquid, quos hic illum, eius cum tenetur laudantium non. Enim
		porro, illum vero laboriosam error non culpa dolorum delectus veritatis modi ipsam animi? Perspiciatis laudantium,
		corrupti dignissimos sint voluptatibus laborum maxime fuga nihil ex distinctio tempore, in recusandae veniam
		quisquam quibusdam id aspernatur, repellendus nisi magni? Amet, incidunt? Nemo quo iusto voluptate mollitia ipsum,
		eaque exercitationem sit cupiditate praesentium et veniam ratione delectus dolorem, sequi, voluptatibus accusamus
		esse nihil? Quam, quos et neque quod minima optio repellat adipisci fugit vero! Cupiditate est culpa, molestiae
		perspiciatis, praesentium, saepe nihil aut ullam aliquid fugiat repellat. Non deserunt dolor, aliquam voluptas
		cumque maxime, voluptatibus dignissimos deleniti tempore quo sapiente mollitia quos exercitationem minus minima
		quasi rem aspernatur.</h4>

	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>


</body>

</html>