<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= title %>
	</title>
	<%- include('partials/head') %>
		<!-- Incluir Tailwind CSS desde un CDN -->
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>

	<%- include('partials/navigation.ejs') %>

		<div class="flex items-center justify-center min-h-screen bg-gray-900">
			<div class="bg-gray-800 text-white rounded-lg shadow-lg w-full max-w-md">
				<div class="px-6 py-4 border-b border-gray-700">
					<h3 class="text-xl font-semibold text-center">Contact me</h3>
				</div>
				<div class="px-6 py-4">
					<form>
						<div class="mb-4">
							<label for="email" class="block text-sm font-medium">Email</label>
							<input type="email" placeholder="Email"
								class="mt-1 block w-full p-2 bg-gray-700 border border-gray-600 rounded focus:outline-none focus:ring focus:ring-blue-500"
								required>
						</div>

						<div class="mb-4">
							<label for="message" class="block text-sm font-medium">Message:</label>
							<textarea name="message" rows="3"
								class="mt-1 block w-full p-2 bg-gray-700 border border-gray-600 rounded focus:outline-none focus:ring focus:ring-blue-500"
								placeholder="Write a Message" required></textarea>
						</div>

						<button type="submit"
							class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-500 transition duration-200">
							Save
						</button>
					</form>
				</div>
			</div>
		</div>

</body>

</html>