<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= title %>
	</title>
</head>

<body>

	<%- include('partials/navigation.ejs') %>

	<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero voluptates dolorum maxime harum id impedit aspernatur nam, possimus odit omnis consectetur beatae quia odio ab accusantium consequuntur tempore distinctio quisquam voluptas dignissimos saepe? Tempora explicabo, porro delectus omnis voluptatibus voluptatum non rem consequuntur illum aliquid sapiente expedita tenetur assumenda esse.</h3>




</body>

</html>