<nav class="bg-gray-800">
	<div class="container mx-auto px-4 py-3 flex justify-between items-center">
		<a class="text-white text-lg font-semibold" href="/">Nodejs Website</a>
		<button class="text-white focus:outline-none md:hidden" id="navbar-toggle">
			<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
			</svg>
		</button>
		<div class="hidden md:flex md:items-center md:space-x-4" id="navbarNav">
			<ul class="flex space-x-4">
				<li>
					<a class="text-white hover:text-blue-400" href="/">Home</a>
				</li>
				<li>
					<a class="text-white hover:text-blue-400" href="/about">About</a>
				</li>
				<li>
					<a class="text-white hover:text-blue-400" href="/contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!-- Script para manejar el toggle del menú en dispositivos móviles -->
<script>
	const toggleButton = document.getElementById('navbar-toggle');
	const navbarNav = document.getElementById('navbarNav');

	toggleButton.addEventListener('click', () => {
		navbarNav.classList.toggle('hidden');
		navbarNav.classList.toggle('flex');
	});
</script>